<div class="row w-100 mb-4 mx-auto" *ngIf="lista.length>0">

  <div class="d-md-flex flex-wrap gutter-sm pt-3 mb-3 w-100 px-5">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 mp-0-mini mb-3 service-card" style="cursor: pointer"
      *ngFor="let data of lista">
      <div class="card mb-4 shadow-sm" style="height: auto; width: auto;">
        <span class="fa fa-times eliminarCarrito" *ngIf="eliminarCarrito"
          (click)="removerCarrito(data.inventario)"></span>
        <div class="card-title" style="height:200px;width: 100%;display: flex;padding-top:5%;"
          (click)="tieneDetalle?(esAdmin?navegar({url:'../dashboard/inventario/'+data.nombre,nombre:data.nombre},null,data):navegar({url:'../'+proveedor+'/resultado/'+data.nombre,nombre:data.nombre},null,null)):categorias?(esAdmin?navegar({url:'../dashboard/categorias/'+data.nombre,nombre:data.nombre},null,data):navegar({url:'../'+proveedor+'/categorias/'+data.nombre,nombre:data.nombre},null,data)):navegar({url:'../'+data.nombre+'/inicio',nombre:data.nombre},null,data)">
          <img loading="lazy" class="bd-placeholder-img card-img-top"
            style="margin-top: auto;margin-left: auto;margin-right: auto;max-height: 200px;height: auto;margin-bottom: auto;width: auto;max-width: 100%;"
            src="{{((data.imagenes!=null && data.imagenes.length>0)?data.imagenes[0].url:data.imagen?data.imagen:((data.inventario.imagenes!=null && data.inventario.imagenes.length>0)?data.inventario.imagenes[0].url:'https://placehold.it/250X200?text=X'))}}">
        </div>
        <div class="card-body" style="height:auto;">
          <p class="card-text text-primary" [class.buscando]="data.id==null"
            (click)="tieneDetalle?(esAdmin?navegar({url:'../dashboard/inventario/'+data.nombre,nombre:data.nombre},null,data):navegar({url:'../'+proveedor+'/resultado/'+data.nombre,nombre:data.nombre},null,data)):categorias?(esAdmin?navegar({url:'../dashboard/categorias/'+data.nombre,nombre:data.nombre},null,data):navegar({url:'../'+proveedor+'/categorias/'+data.nombre,nombre:data.nombre},null,data)):navegar({url:'../'+data.nombre+'/inicio',nombre:data.nombre},null,data)">
            {{((data.nombre!=null)?data.nombre:'')}}
            <button [swal]="{
                  title: 'Cuidado',
                  text: 'Si cambia de tienda, lo que haya guardado en su carrito se borrará',
                  icon: 'warning',
                  confirmButtonText: 'Esta bien, Continuar'
                }" class="d-none" #resetCarritoAlert
              (confirm)="tieneDetalle?(esAdmin?saveConfirm({url:'../dashboard/inventario/'+data.nombre,nombre:data.nombre}):saveConfirm({url:'../'+proveedor+'/resultado/'+data.nombre,nombre:data.nombre})):categorias?(esAdmin?saveConfirm({url:'../dashboard/categorias/'+data.nombre,nombre:data.nombre}):saveConfirm({url:'../'+proveedor+'/categorias/'+data.nombre,nombre:data.nombre})):esAdmin?null:saveConfirm({url:'../'+data.nombre+'/inicio',nombre:data.nombre})"
              *ngIf="resetCarrito(data)" (cancel)="handleRefusal($event)">
            </button>
          </p>
          <div class="w-100 justify-content-between align-items-center row mx-0">
            <small class="text-muted col-xs-12 col-sm-12 col-md-12" [class.buscando]="data.id==null"
              [class.col-lg-6]="(!esAdmin && !categorias)" [class.col-lg-12]="(esAdmin || categorias || !tieneDetalle)"
              [class.text-center]="(esAdmin || categorias || !tieneDetalle)"
              [class.text-left]="(!esAdmin && !categorias)">
              <ngb-rating class="mx-auto" max="5" [(rate)]="data.validacion" [readonly]="false"></ngb-rating>
            </small>
            <app-lista-producto class="col-xs-12 col-sm-12 col-md-12 row mx-0 p-0 mb-2" [inventario]="data.inventario"
              [productos]="data.inventario.productos" *ngIf="eliminarCarrito || pagar" [editar]="editar">
            </app-lista-producto>
            <div class="btn-group w-100 mp-0 col-xs-12 col-sm-12 col-md-12 col-lg-12 my-2"
              *ngIf="eliminarCarrito || pagar">
              <span>
                Precio:
              </span>
              <span [class.buscando]="data.id==null" class="badge badge-pill badge-primary my-auto ml-auto">
                Q. {{getPrecio(data)}}
              </span>
            </div>
            <div class="btn-group w-100 mp-0 col-xs-12 col-sm-12 col-md-12 col-lg-12 my-2"
              *ngIf="eliminarCarrito || pagar">
              <span>
                Cantidad:
              </span>
              <span [class.buscando]="data.id==null" class="badge badge-pill badge-primary my-auto ml-auto">
                {{data.cantidad?data.cantidad:1}}
              </span>
            </div>
            <div class="btn-group w-100 mp-0 col-xs-12 col-sm-12 col-md-12 col-lg-12 my-2"
              *ngIf="eliminarCarrito || pagar">
              <span>
                Total:
              </span>
              <span [class.buscando]="data.id==null" class="badge badge-pill badge-primary my-auto ml-auto">
                Q. {{getTotal(data)}}
              </span>
            </div>
            <div class="btn-group col-xs-12 col-sm-12 col-md-12 col-lg-6 ml-auto" *ngIf="adminProv">
              <button type="button" class="btn btn-sm btn-outline-success ml-auto" [class.buscando]="data.id==null"
                (click)="autorizarProveedor(data)"> <i class="fa fa-check"></i> Autorizar</button>
            </div>
            <div class="btn-group col-xs-12 col-sm-12 col-md-12 col-lg-6"
              *ngIf="agregaCarrito && (!esAdmin && !categorias) && data.inventario">
              <button type="button" class="btn btn-sm btn-outline-primary ml-auto" [class.buscando]="data.id==null"
                (click)="agregarCarrito(data.inventario)"> <i class="fa fa-plus"></i><i
                  class="fa fa-shopping-cart ml-2"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3 d-flex" *ngIf="numReg>size">
    <ngb-pagination class="mx-auto" [(collectionSize)]="numReg" (pageChange)="cambioPagina($event)" [(pageSize)]="size"
      [(page)]="page"></ngb-pagination>
  </div>

</div>
<div class="row w-100 mb-4 mx-auto" *ngIf="lista.length<=0">
  <ngb-alert class="w-50 mx-auto mt-3" type="danger">No se encuentran
    {{categorias?'Categorias':tieneDetalle?'Productos':'Proveedores'}} para mostrar</ngb-alert>
</div>
