<div class="bs-stepper">
  <ul ngbNav #stepper="ngbNav" [(activeId)]="step" class="bs-stepper-header">
    <li [ngbNavItem]="1" class="step">
      <a ngbNavLink>
        <button class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">Localidad {{ data.name }}</span>
        </button>
      </a>
      <ng-template ngbNavContent class="w-100 d-flex">
        <app-stepper-places [data]="data" (changeStep)="onChangeStep($event)"></app-stepper-places>
      </ng-template>
    </li>
    <div class="line"></div>
    <li [ngbNavItem]="2" class="step">
      <a ngbNavLink>
        <button class="step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">Reservar Boletos</span>
        </button>
      </a>
      <ng-template ngbNavContent class="w-100 d-flex">
        <app-stepper-boletos [data]="data" (changeStep)="onChangeStep($event)"></app-stepper-boletos>
      </ng-template>
    </li>
    <div class="line"></div>
    <li [ngbNavItem]="3" class="step">
      <a ngbNavLink>
        <button class="step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">Detalle de Compra</span>
        </button>
      </a>
      <ng-template ngbNavContent class="w-100 d-flex">
        <app-stepper-detalle-compra [data]="data" (changeStep)="onChangeStep($event)"></app-stepper-detalle-compra>
      </ng-template>
    </li>
  </ul>
</div>
<div [ngbNavOutlet]="stepper" class="w-100 container bs-stepper-content d-flex"></div>
