<div class="row mp-0 w-100">
  <div class="alert alert-warning reaccion" *ngIf="!sesion">
    <strong>Demuestra cuanto te gusta este producto!</strong>
    <br>
    Inicia sesion y dale un Like.
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ml-auto" *ngIf="!reaccion">
    <a class="btn btn-block btn-social btn-outline-success badge-pill h2" [class.disabled]="!sesion"
      (click)="darLike(producto,true)">
      <span class="fa fa-thumbs-up"></span>
    </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mr-auto" *ngIf="!reaccion">
    <a class="btn btn-block btn-social btn-outline-danger badge-pill h2" [class.disabled]="!sesion"
      (click)="darLike(producto,false)">
      <span class="fa fa-thumbs-down"></span>
    </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-auto" *ngIf="producto.id">
    <a class="btn btn-block btn-social btn-primary badge-pill h2 text-light" title="Quitar Like"
      (click)="quitarLike(reaccion)" *ngIf="reaccion">
      <span class="fa" [class.fa-thumbs-up]="reaccion.default==1" [class.fa-thumbs-down]="reaccion.default==0"></span>
    </a>
  </div>
</div>

<!-- Inicio Notificaciones -->
<simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->
