<!-- Nosotros -->
<div class="w-100 mt-4">
  <div class="container">
    <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-5">Somos tu mejor opción para
      empezar a cobrar con tarjeta.</h1>
    <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-4">Ordenes.Online</h3>
    <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">

    </p>
    <div class="mbr-section-btn align-center"><a class="btn btn-md btn-black-outline display-4"
        href="index.html#form1-4">
        Contactanos!</a></div>
  </div>
</div>
<!-- Que Ofrecemos -->
<div class="planes w-100 pricing container">
  <!-- Three columns of text below the carousel -->
  <div class="pricing-header px-3 pb-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Precios Por Venta</h1>
    <p class="lead">Por cada venta que realices a travez del portal te cobraremos un pequeño porcentaje sobre el total,
      podras ingresar tus precios y nosotros te diremos en cuanto se vendera, para que no pierdas dinero.</p>
  </div>
  <div class="row w-100 m-0 p-0">
    <div class="col-lg-3 card py-2 my-sm-2 mx-sm-auto mr-lg-2 ml-lg-auto text-center">
      <img class="rounded-circle mx-auto" src="https://via.placeholder.com/140x140?text=1.50%"
        alt="Generic placeholder image" width="140" height="140">
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0.25 <small class="text-muted">/ vta</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>1.50%</li>
          <li>Desde Q 0.01</li>
          <li>Hasta Q 100.00</li>
        </ul>
      </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3 card py-2 my-sm-2 mx-sm-auto mx-lg-2 text-center">
      <img class="rounded-circle mx-auto" src="https://via.placeholder.com/140x140?text=2.75%"
        alt="Generic placeholder image" width="140" height="140">
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$1.50 <small class="text-muted">/ vta</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>2.75%</li>
          <li>Desde Q 100.01</li>
          <li>Hasta Q 1000.00</li>
        </ul>
      </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3 card py-2 my-sm-2 mx-sm-auto ml-lg-2 mr-lg-auto text-center">
      <img class="rounded-circle mx-auto" src="https://via.placeholder.com/140x140?text=4.50%"
        alt="Generic placeholder image" width="140" height="140">
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$2.50 <small class="text-muted">/ vta</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>4.50%</li>
          <li>Desde Q 1000.01</li>
          <li>Hasta Q 10000.00</li>
        </ul>
      </div>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
<!-- Comisiones aplicables / Precios -->
<div class="planes pricing container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Precios Por Retiro</h1>
    <p class="lead">Cada vez que desees convertir tu dinero en efectivo tendras que pagar una comision para que el
      dinero de tu caja llegue a tu cuenta de banco o a tu telefono.</p>
  </div>
  <div class="card-deck mb-3 text-center w-100 row mp-0">
    <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-3 mb-4 box-shadow">
      <img class="rounded-circle mx-auto" src="https://via.placeholder.com/140x140?text=3.60%"
        alt="Generic placeholder image" width="140" height="140">
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$1.25 <small class="text-muted">/ rto</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>3.60%</li>
          <li>Desde Q 0.01</li>
          <li>Hasta Q 100.00</li>
        </ul>
      </div>
    </div>
    <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-3 mb-4 box-shadow">
      <img class="rounded-circle mx-auto" src="https://via.placeholder.com/140x140?text=2.50%"
        alt="Generic placeholder image" width="140" height="140">
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0.75 <small class="text-muted">/ rto</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>2.50%</li>
          <li>Desde Q 100.01</li>
          <li>Hasta Q 1000.00</li>
        </ul>
      </div>
    </div>
    <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-3 mb-4 box-shadow">
      <img class="rounded-circle mx-auto" src="https://via.placeholder.com/140x140?text=1.50%"
        alt="Generic placeholder image" width="140" height="140">
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0.25 <small class="text-muted">/ rto</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>1.50%</li>
          <li>Desde Q 1000.01</li>
          <li>Hasta Q 10000.00</li>
        </ul>
      </div>
    </div>
    <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-3 mb-4 box-shadow">
      <img class="rounded-circle mx-auto" src="https://via.placeholder.com/140x140?text=0.00%"
        alt="Generic placeholder image" width="140" height="140">
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$5.00 <small class="text-muted">/ rto</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>0.00%</li>
          <li>Desde Q 10000.01</li>
          <li>Hasta Q 1000000.00</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Planes Premium -->
<section class="pricing py-5 container">
  <div class="pricing-header px-3 text-light w-75 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Planes Premium</h1>
    <p class="lead">Con nuestros planes premium tienes la ventaja de no pagar comision por venta, esto permite que tus
      precios sean mas competitivos incluso pagando con tarjeta.</p>
    <h3 class="display-5">Por cada venta la pasarela de pago cobra 5.50% del total de la venta + $0.25</h3>
  </div>
  <div class="container">
    <div class="row">
      <!-- Plan Gratis -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Proveedor</h5>
            <h6 class="card-price text-center">$0<span class="period">/mes</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span><i class="fa fa-check"></i></span>Cobro de Comision por Retiro</li>
              <li><span><i class="fa fa-check"></i></span>Cobro de comision por Pago con Tarjeta</li>
              <li><span><i class="fa fa-check"></i></span>Cobro de Comision por Porcentaje de Venta</li>
              <li><span><i class="fa fa-check"></i></span>Cobro de Comision Fijo por Venta</li>
              <li class="text-muted"><span><i class="fa fa-times"></i></span>Comision total menor a 10%</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Registrate</a>
          </div>
        </div>
      </div>
      <!-- Cobro solo por Retiro -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Piensa en mi</h5>
            <h6 class="card-price text-center">$9.99<span class="period">/mes</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span><i class="fa fa-check"></i></span>Cobro de Comision por Retiro</li>
              <li><span><i class="fa fa-check"></i></span>Cobro de comision por Pago con Tarjeta</li>
              <li class="text-muted"><span><i class="fa fa-times"></i></span>Cobro de Comision por Porcentaje de Venta
              </li>
              <li class="text-muted"><span><i class="fa fa-times"></i></span>Cobro de Comision Fijo por Venta</li>
              <li><span><i class="fa fa-check"></i></span>Comision total menor a 10%</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Registrate</a>
          </div>
        </div>
      </div>
      <!-- Cobrador Pagador -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Super Vendedor</h5>
            <h6 class="card-price text-center">$49.99<span class="period">/mes</span></h6>
            <hr>
            <ul class="fa-ul">
              <li class="text-muted"><span><i class="fa fa-times"></i></span>Cobro de Comision por Retiro</li>
              <li><span><i class="fa fa-check"></i></span>Cobro de comision por Pago con Tarjeta</li>
              <li class="text-muted"><span><i class="fa fa-times"></i></span>Cobro de Comision por Porcentaje de Venta
              </li>
              <li class="text-muted"><span><i class="fa fa-times"></i></span>Cobro de Comision Fijo por Venta</li>
              <li><span><i class="fa fa-check"></i></span>Comision total menor a 10%</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Registrate</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
