<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="conversation-container" #conversationContainer *ngIf="perfilActual">
    <div class="comentario" [class.last]="i==conversacion.length-1" *ngFor="let data of conversacion; let i = index">
      <div [class.comentario-in]="data.recive" [class.comentario-out]="!data.recive">
        <div class="row w-100 badge comentario-profile  m-0 px-0 d-flex py-1" [class.badge-success]="data.recive"
          [class.badge-info]="!data.recive" *ngIf="data.usuario_obj">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mx-0 d-flex">
            <img class="card-img-top badge-pill mx-auto"
              [src]="(data.usuario_obj.imagenes && data.usuario_obj.imagenes.length>0)?data.usuario_obj.imagenes[0].url:(data.usuario_obj.picture?data.usuario_obj.picture:'https://robohash.org/68.186.255.198.png')"
              alt="Card image cap">
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 mx-0">
            <div class="card-body text-left text-light ml-0 px-0">
              <p class="m-auto">
                {{data.usuario_obj.username}}
              </p>
            </div>
          </div>
        </div>
        <div class="cuerpo">
          {{data.comentario}}
        </div>
      </div>
    </div>
    <div class="last-comentario" #lastMessage id="lastMessage">
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <app-comentarios-form (comentar)="comentar($event)" *ngIf="usuario.id" [perfil]="usuario" [producto]="producto">
  </app-comentarios-form>
  <div class="alert alert-warning w-100 text-center my-3" *ngIf="!usuario.id">
    <strong> <i class="fa fa-warning mr-3"></i> Debes iniciar sesion para comentar.</strong>
  </div>
</div>
