<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 mx-auto my-3 text-center pt-3" *ngIf="!esModal">
    <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()" class="form-signin" autocomplete="off" id="recovery-form">
      <h1 class="h3 mb-3 font-weight-normal text-dark" *ngIf="titulo ">{{titulo}}</h1>
      <small>Se le enviará un correo con las instrucciones para cambiar su contraseña.</small>
      <div class="input-group my-3">
        <input type="email" class="form-control" formControlName="email" placeholder="Usuario">
      </div>
      <div *ngIf="recoveryForm.get('email')?.invalid && recoveryForm.get('email')?.touched"
        class="alert alert-danger mb-3">
        <strong *ngIf="recoveryForm.get('email')?.errors?.['required']">El correo es requerido.</strong>
        <strong *ngIf="recoveryForm.get('email')?.errors?.['email']">Formato de correo inválido.</strong>
      </div>
      <div class="my-3 row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ml-auto text-left">
          <a class="c-celeste-bishound pointer link-pointer"
            (click)="navegar({url:'./../register'},$event)">Regístrate</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mr-auto text-right">
          <a class="c-celeste-bishound pointer link-pointer" (click)="navegar({url:'./../login'},$event)">Entrar</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ml-auto">
          <button class="btn btn-lg btn-primary btn-block" [disabled]="recoveryForm.invalid" type="submit">
            <i class="fa fa-sign-in"></i> Enviar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
