<div class="bs-stepper">
  <ul ngbNav #stepper="ngbNav" [(activeId)]="step" class="bs-stepper-header">
    <li [ngbNavItem]="1" class="step">
      <a ngbNavLink>
        <button class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">Email</span>
        </button>
      </a>
      <ng-template ngbNavContent class="w-100 d-flex">
        <div id="test-l-1" class="content">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />
          </div>
          <button class="btn btn-primary">Next</button>
        </div>

      </ng-template>
    </li>
    <div class="line"></div>
    <li [ngbNavItem]="2" class="step">
      <a ngbNavLink>
        <button class="step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">Password</span>
        </button>
      </a>
      <ng-template ngbNavContent class="w-100 d-flex">
        <div id="test-l-2" class="content">
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
          </div>
          <button class="btn btn-primary">Next</button>
        </div>

      </ng-template>
    </li>
    <div class="line"></div>
    <li [ngbNavItem]="3" class="step">
      <a ngbNavLink>
        <button class="step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">Validate</span>
        </button>
      </a>
      <ng-template ngbNavContent class="w-100 d-flex">
        <div id="test-l-3" class="content text-center">
          <button type="submit" class="btn btn-primary mt-5">Submit</button>
        </div>
      </ng-template>
    </li>
  </ul>
</div>
<div [ngbNavOutlet]="stepper" class="w-100 container bs-stepper-content d-flex" [ngClass]="{'h-max': needMax()}"></div>
