<app-sliders [sliders]="sliders"></app-sliders>
<app-busqueda [lista]="proveedoresListaAuxiliar" titulo="Proveedores" (seleccionador)="cargarProveedor($event)"
  [seleccion]="proveedor"></app-busqueda>
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Proveedores</a>
    <ng-template ngbNavContent class="w-100 d-flex">
      <app-galeria class="w-100" [lista]="proveedoresLista" titulo="Proveedores" [page]="page" [numReg]="numReg"
        [size]="limit" (paginaActual)="cambioPagina($event)"></app-galeria>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="w-100 d-flex"></div>
