<!-- <app-busqueda [lista]="categoriasLista" titulo="Categorias" (seleccionador)="cargarCategoria($event)"
  [seleccion]="categoria"></app-busqueda>
<div class="w-100 d-flex">
  <button type="button" class="btn btn-success mx-auto"
    (click)="navegar({url:'./../dashboard/categorias/nuevo',nombre:'nuevo'})">
    <i class="fa fa-plus"></i>
  </button>
</div>
<div class="w-100 d-flex">
  <app-galeria class="w-100" [lista]="categoriasLista" titulo="Clasificaciones" [agregaCarrito]="false"
    [tieneDetalle]="false" [esAdmin]="true" [categorias]="true" [page]="page" [numReg]="numReg" [size]="limit"
    (paginaActual)="cambioPagina($event)"></app-galeria>
</div> -->
