<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mx-auto text-center my-3 px-3" [class.col-lg-8]="esModal"
    [class.col-lg-10]="!esModal" *ngIf="!esModal">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin" id="login-form" autocomplete="off">
      <h1 class="h3 my-3 font-weight-normal" *ngIf="titulo">{{ titulo }}</h1>

      <!-- Campo Email -->
      <div class="input-group my-3">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Correo">
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
          <small *ngIf="loginForm.get('email')?.errors?.['required']">El correo es requerido.</small>
          <small *ngIf="loginForm.get('email')?.errors?.['email']">Formato de correo inválido.</small>
        </div>
      </div>

      <!-- Campo Password -->
      <div class="input-group my-3">
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Contraseña">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es requerida.</small>
          <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Mínimo 3 caracteres.</small>
        </div>
      </div>

      <!-- Enlaces a registro y recuperación -->
      <div class="mb-3 row">
        <div class="ml-3 col-xs-12 col-sm-12 col-md-4 col-lg-6 text-left ml-auto">
          <a class="c-celeste-bishound pointer link-pointer"
            (click)="navegar({url:'./../register',nombre:''},$event)">Regístrate</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 text-right mr-auto">
          <a class="c-celeste-bishound pointer link-pointer"
            (click)="navegar({url:'./../recovery',nombre:''},$event)">Recuperar Contraseña</a>
        </div>
      </div>

      <!-- Botón Enviar -->
      <button
        class="btn btn-lg mx-auto btn-primary btn-block"
        [disabled]="loginForm.invalid"
        type="submit">
        <i class="fa fa-sign-in"></i> Ingresar
      </button>

      <!-- Opciones de inicio de sesión con redes sociales -->
      <div class="row mt-5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ml-auto">
          <h1 class="h3 mb-5 font-weight-normal">o</h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ml-auto">
          <a class="btn btn-block btn-social btn-facebook badge-pill bg-facebook h2 text-light disabled"
            (click)="socialSignIn('facebook')">
            <span class="fa fa-facebook"></span>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mr-auto">
          <a class="btn btn-block btn-social btn-google badge-pill bg-danger h2 text-light disabled"
            (click)="socialSignIn('google')">
            <span class="fa fa-google"></span>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
