<div class="card mt-4">
  <div class="card-header d-flex">
    <h5 class="w-50">{{ showForm ? (selectedLocality?.id ? 'Editar Localidad' : 'Agregar Localidad') : 'Administrador de localidades' }}</h5>
    <div class="text-right w-50" *ngIf="!showForm">
      <button class="btn btn-info" (click)="addLocality()">Agregar Localidad</button>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="!showForm">
      <ul class="list-group mb-3 border-none">
        <li class="list-group-item" *ngFor="let locality of localities">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-8">
              <h5>{{ locality.name }}</h5>
              <p>{{ locality.description }}</p>
            </div>
            <div class="col-md-4 text-right">
              <button class="btn btn-primary btn-sm" (click)="editLocality(locality)">Editar</button>
              <button class="btn btn-danger btn-sm ml-2" (click)="deleteLocality(locality)">Eliminar</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="showForm">
      <app-localities-form [locality]="selectedLocality" (save)="saveLocality($event)"
        (close)="closeForm()"></app-localities-form>
    </div>
  </div>
</div>
