<app-sliders [sliders]="sliders"></app-sliders>
<!-- <app-busqueda [lista]="mainListaAuxiliar" titulo="Proveedores" (seleccionador)="cargarProveedor($event)"
  [seleccion]="proveedor"></app-busqueda> -->
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs container">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Localidades</a>
    <ng-template ngbNavContent class="w-100 d-flex">
      <app-galeria [galleryType]="galleryType" class="w-100" [lista]="mainLista" titulo="Proveedores" [page]="page"
        [numReg]="numReg" [size]="limit" (paginaActual)="cambioPagina($event)"></app-galeria>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink class="disabled" (click)="$event.preventDefault()">Compra de Boletos </a>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="w-100 container d-flex" [ngClass]="{'h-max': needMax()}"></div>
