<ngb-accordion #a="ngbAccordion" [activeIds]="activePanel" class="inputSubirImagen">
  <!-- Panel de carga de imagen -->
  <ngb-panel id="inputSubirImagen" *ngIf="!displayImagen">
    <ng-template ngbPanelHeader>
      <div class="row w-100">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mx-auto">
          <label for="uploadImagenFuncion" class="text icon">Seleccionar archivo</label>
          <progress value="0" max="100" class="loader_img barra_de_progreso"></progress>
          <ngb-progressbar *ngIf="mostrarProgreso" [value]="avance" type="primary"></ngb-progressbar>
          <input type="file" id="uploadImagenFuncion" (change)="subirImagenes($event)" accept="image/*" />
        </div>
      </div>
    </ng-template>
  </ngb-panel>

  <!-- Panel de vista previa de imagen -->
  <ngb-panel id="previewImagen" *ngIf="displayImagen">
    <ng-template ngbPanelHeader>
      <div class="row w-100">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mx-auto">
        </div>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mx-auto">
          <div class="cuadro-img d-flex">
            <span class="fa fa-times eliminar" (click)="resetImagen()"></span>
            <img loading="lazy" [src]="imagen.url" class="img-thumbnail m-auto" alt="Imagen seleccionada"
              style="max-height: 150px; object-fit: cover; border-radius: 8px;" />
            <span class="fa fa-check agregar" (click)="enviarImagen()"></span>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel>

  <!-- Panel de slider -->
  <ngb-panel id="sliderImagenes" *ngIf="!displayImagen && lista.length > 0">
    <ng-template ngbPanelHeader>
      <div class="row w-100">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mx-auto">
        </div>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <app-sliders [sliders]="lista" [esAdmin]="esAdmin" (imagenEliminar)="eliminarImagen($event)"></app-sliders>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
