<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mx-auto text-left ">
  <form class="form-signin" autocomplete="off" #ClienteForm="ngForm" id="ClienteForm" (ngSubmit)="cargar(ClienteForm)"
    (change)="cargar(ClienteForm)">
    <!-- <input type="hidden" class="form-control" *ngIf="data.id" [(ngModel)]="data.id" name="id" ngModel #id="ngModel">
    <div class="input-group mb-1">
      <input type="text" autofocus class="form-control" [(ngModel)]="data.nombre" name="nombre" required ngModel
        #nombre="ngModel" placeholder="Nombre" (keyup)="cargar(ClienteForm)">
    </div>
    <div class="input-group mb-1">
      <input type="text" class="form-control" name="apellido" [(ngModel)]="data.apellido" required ngModel
        #apellido="ngModel" placeholder="Apellido" (keyup)="cargar(ClienteForm)">
    </div>
    <div class="input-group mb-1">
      <input type="text" class="form-control" name="telefono" [(ngModel)]="data.telefono" required ngModel
        #telefono="ngModel" placeholder="Telefono" (keyup)="cargar(ClienteForm)">
    </div>
    <div class="input-group mb-1">
      <input type="text" class="form-control" name="nombre_a_facturar" [(ngModel)]="data.nombre_a_facturar" required
        ngModel #nombre_a_facturar="ngModel" placeholder="Nombre para Factura" (keyup)="cargar(ClienteForm)">
    </div>
    <div class="input-group mb-1">
      <input type="text" class="form-control" name="nit" required ngModel [(ngModel)]="data.nit" #nit="ngModel"
        placeholder="NIT (opcional)" (keyup)="cargar(ClienteForm)">
    </div>
    <div class="input-group mb-1">
      <input type="text" class="form-control" name="dpi" required ngModel [(ngModel)]="data.dpi" #dpi="ngModel"
        placeholder="DPI (opcional)" (keyup)="cargar(ClienteForm)">
    </div> -->
  </form>
</div>
