<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Nombre de la Localidad</label>
    <input type="text" id="name" class="form-control" [(ngModel)]="localityData.name" name="name" required />
  </div>
  <div class="form-group">
    <label for="price">Precio</label>
    <input type="number" id="price" class="form-control" [(ngModel)]="localityData.price" name="price" required />
  </div>
  <div class="form-group text-right">
    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Guardar</button>
    <button class="btn btn-secondary ml-2" type="button" (click)="close.emit()"><i class="fa fa-times"></i>
      Cancelar</button>
  </div>
</form>
