<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mx-auto text-center ">
    <form class="form-signin" autocomplete="off" id="RegisterForm" #RegisterForm="ngForm"
      (ngSubmit)="simpleSignUp(RegisterForm)">
      <h1 class="h3 mb-3 mt-3 font-weight-normal text-dark" *ngIf="titulo">{{titulo}}</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="input-group mb-3 mt-1">
            <input type="email" class="form-control" name="email" id="email" required ngModel #email="ngModel"
              placeholder="Correo">
          </div>
          <div class="input-group my-3">
            <input type="password" class="form-control" name="password" id="password" required ngModel
              #password="ngModel" placeholder="Contraseña">
          </div>
          <div class="input-group my-3" [ngClass]="{'d-none': (password && password.value=='')}">
            <input type="password" class="form-control" name="password_rep" id="password_rep" required ngModel
              #password_rep="ngModel" placeholder="Repite tu contraseña">
          </div>
          <div *ngIf="(password && password_rep) && (password_rep.value!='' || password.value!='')">
            <div class="alert alert-success" *ngIf="(password.value==password_rep.value) && (password_rep && password)">
              <strong>Tu contraseña es valida. <i class="fa fa-check"></i></strong>
            </div>
            <div class="alert alert-danger" *ngIf="(password.value!=password_rep.value) && (password_rep && password)">
              <strong>Tus contraseñas deben ser iguales. <i class="fa fa-exit"></i></strong>
              <strong *ngIf="password.value.length<3">Tus contraseñas Deben tener mas de 3 caracteres. <i
                  class="fa fa-exit"></i></strong>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 ml-auto text-left">
          <a class="c-celeste-bishound pointer link-pointer"
            (click)="navegar({url:'./../login',nombre:''},$event)">Entrar</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 mr-auto text-right">
          <a class="pointer link-pointer" (click)="navegar({url:'./../recovery'},$event)">Recuperar
            Contraseña</a>
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit"
        [disabled]="RegisterForm.value.password=='' || RegisterForm.value.username=='' || RegisterForm.value.password!=RegisterForm.value.password_rep"><i
          class="fa fa-sign-in"></i>
        Registrar</button>
    </form>
  </div>
  <div class="row mt-5 col-xs-12 col-sm-12 col-md-12 col-lg-12 mx-auto text-left">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ml-auto">
      <h1 class="h3 mb-5 font-weight-normal text-center">o</h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ml-auto">
      <a class="btn btn-block btn-social btn-facebook badge-pill bg-facebook h2 text-light disabled"
        (click)="socialSignIn('facebook')">
        <span class="fa fa-facebook"></span>
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mr-auto">
      <a class="btn btn-block btn-social btn-google badge-pill bg-danger h2 text-light disabled"
        (click)="socialSignIn('google')">
        <span class="fa fa-google"></span>
      </a>
    </div>
  </div>
</div>
