<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mx-auto text-center ">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-signin" autocomplete="off" id="RegisterForm">
      <h1 class="h3 mb-3 mt-3 font-weight-normal text-dark" *ngIf="titulo">{{titulo}}</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="input-group mb-3 mt-1">
            <input type="email" class="form-control" formControlName="email" id="email" placeholder="Correo">
            <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
              <small *ngIf="registerForm.get('email')?.errors?.['required']">El correo es requerido.</small>
              <small *ngIf="registerForm.get('email')?.errors?.['email']">Formato de correo inválido.</small>
            </div>
          </div>
          <div class="input-group my-3">
            <input type="password" class="form-control" formControlName="password" id="password"
              placeholder="Contraseña">
            <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
              class="text-danger">
              <small *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es requerida.</small>
              <small *ngIf="registerForm.get('password')?.errors?.['minlength']">Debe tener al menos 3
                caracteres.</small>
            </div>
          </div>
          <div class="input-group my-3">
            <input type="password" class="form-control" formControlName="password_rep" id="password_rep"
              placeholder="Repite tu contraseña">
          </div>
          <div *ngIf="registerForm.errors?.['mismatch']" class="alert alert-danger">
            <strong>Las contraseñas deben coincidir.</strong>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 ml-auto text-left">
          <a class="c-celeste-bishound pointer link-pointer"
            (click)="navegar({url:'./../login',nombre:''},$event)">Entrar</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 mr-auto text-right">
          <a class="pointer link-pointer" (click)="navegar({url:'./../recovery'},$event)">Recuperar Contraseña</a>
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="registerForm.invalid">
        <i class="fa fa-sign-in"></i> Registrar
      </button>
    </form>
  </div>
  <div class="row mt-5 col-xs-12 col-sm-12 col-md-12 col-lg-12 mx-auto text-left">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ml-auto">
      <h1 class="h3 mb-5 font-weight-normal text-center">o</h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ml-auto">
      <a class="btn btn-block btn-social btn-facebook badge-pill bg-facebook h2 text-light disabled"
        (click)="socialSignIn('facebook')">
        <span class="fa fa-facebook"></span>
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mr-auto">
      <a class="btn btn-block btn-social btn-google badge-pill bg-danger h2 text-light disabled"
        (click)="socialSignIn('google')">
        <span class="fa fa-google"></span>
      </a>
    </div>
  </div>
</div>
