<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 mx-auto text-left ">
  <form class="form-signin" autocomplete="off" id="RegisterForm" #RegisterForm="ngForm" (ngSubmit)="registrar()">
    <h1 class="h3 mb-3 mt-3 font-weight-normal text-dark" *ngIf="titulo && muestraTexto">{{titulo}}</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <input type="hidden" class="form-control" name="id" id="id" *ngIf="perfil" [(ngModel)]="perfil.id" ngModel
          #id="ngModel">
        <div class="input-group mb-1">
          <input type="email" class="form-control" name="email" id="email" [disabled]="userAcepted" required ngModel
            #email="ngModel" placeholder="Correo" (keyup)="cargar(RegisterForm)" email>
        </div>
        <div class="input-group mb-1">
          <input type="password" class="form-control" name="password" id="password" [disabled]="userAcepted" required
            ngModel #password="ngModel" placeholder="Contraseña" (keyup)="cargar(RegisterForm)">
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password_rep" id="password_rep" [disabled]="userAcepted"
            required ngModel #password_rep="ngModel" placeholder="Repite tu contraseña" (keyup)="cargar(RegisterForm)">
        </div>
        <div
          *ngIf="(password && password_rep) && (password_rep.value!='' || password.value!='') && (mostrarNotificacion)">
          <div class="alert alert-success"
            *ngIf="(password.value==password_rep.value) && (password_rep && password) && (!cliente || !proveedor)">
            <strong>Tu contraseña es valida <i class="fa fa-check"></i></strong>
          </div>
          <div class="alert alert-danger" *ngIf="(password.value!=password_rep.value) && (password_rep && password)">
            <strong>Tus contraseñas Deben ser iguales <i class="fa fa-exit"></i></strong>
            <strong *ngIf="password.value.length<3">Tus contraseñas Deben tener mas de 3 caracteres <i
                class="fa fa-exit"></i></strong>
          </div>
        </div>
        <button class=" btn btn-lg btn-danger btn-block w-50 mr-auto" type="button" *ngIf="userAcepted"
          (click)="cancelar(false,RegisterForm)"><i class="fa fa-times"></i> Cancelar</button>
        <button class=" btn btn-lg btn-primary btn-block w-50 ml-auto" type="button"
          [disabled]="(email && password_rep && password) && (email.value=='' || password_rep.value=='' || password.value=='') || RegisterForm.invalid"
          *ngIf="!userAcepted" (click)="aceptarUsuario((password.value==password_rep.value),RegisterForm)"><i
            class="fa fa-check"></i> Aceptar</button>
      </div>
    </div>
    <h5 class="h5 mb-3 mt-3 font-weight-normal text-dark" *ngIf="esProveedor && userAcepted">Ingrese la información de
      su negocio.</h5>
    <app-proveedor-form (form)="obtenerProveedor($event)" class="row" *ngIf="esProveedor && userAcepted">
    </app-proveedor-form>
    <h5 class="h5 mb-3 mt-3 font-weight-normal text-dark" *ngIf="esCliente && userAcepted">Ingrese su información de
      facturación.</h5>
    <app-cliente-form (form)="obtenerCliente($event)" class="row" *ngIf="esCliente && userAcepted"></app-cliente-form>
    <div class="mb-3 row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 ml-auto text-left">
        <a class="c-celeste-bishound pointer link-pointer"
          (click)="navegar({url:'./../login',nombre:''},$event)">Entrar</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 mr-auto text-right">
        <a class="pointer link-pointer" (click)="navegar({url:'./../recovery',nombre:''},$event)">Recuperar
          Contraseña</a>
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit"
      *ngIf="userAcepted && (perfil && (cliente || proveedor))"><i class="fa fa-sign-in"></i> Registrar</button>
  </form>
</div>
<div class="row mt-5 col-xs-12 col-sm-12 col-md-12 col-lg-6 mx-auto text-left" *ngIf="esCliente">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ml-auto">
    <a class="btn btn-block btn-social btn-facebook badge-pill bg-facebook h2 text-light" (click)="socialSignIn('facebook')">
      <span class="fa fa-facebook"></span>
    </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mr-auto">
    <a class="btn btn-block btn-social btn-google badge-pill bg-danger h2 text-light" (click)="socialSignIn('google')">
      <span class="fa fa-google"></span>
    </a>
  </div>
</div>
<!-- Inicio Notificaciones -->
<simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->
