<form class="mb-3 col-xs-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
  <div class="modal-header mb-2">
    <h4 class="modal-title" id="configurations_title">Configuraciones</h4>
  </div>
  <div class="modal-body">
    <ul ngbNav #nav="ngbNav" [activeId]="active" class="nav-tabs">
      <li [ngbNavItem]="1" (click)="navegar({url:'./dashboard/settings/profile'})">
        <a ngbNavLink>Perfil</a>
        <ng-template ngbNavContent>
          <app-perfil [perfil]="perfil" [editMode]="true"> </app-perfil>
        </ng-template>
      </li>
      <li [ngbNavItem]="2" (click)="navegar({url:'./dashboard/settings/advertisements'})" [class.d-none]="(rol>rolAdmin)">
        <a ngbNavLink>Anuncios</a>
        <ng-template ngbNavContent>
          <app-advertisements></app-advertisements>
        </ng-template>
      </li>
      <li [ngbNavItem]="3" (click)="navegar({url:'./dashboard/settings/credit-cards'})">
        <a ngbNavLink>Tarjetas de Credito</a>
        <ng-template ngbNavContent>
          <app-metodo-pago [perfil]="perfil" (obtenerPerfil)="obtenerPerfilConf($event)"></app-metodo-pago>
        </ng-template>
      </li>
      <li [ngbNavItem]="4" (click)="navegar({url:'./dashboard/settings/encabezado'})"
        [class.d-none]="(rol>rolProducer)">
        <a ngbNavLink>Encabezado</a>
        <ng-template ngbNavContent>
          <div class="alert alert-info">
            <strong>Su Proveedor se encuentra aun en etapa de validación.</strong>
          </div>
          <app-encabezado></app-encabezado>
          <div class="mx-auto alert alert-warning text-center">
            <span class="fa fa-warning mr-2"></span>
            <strong>Lamentamos que no tengas disponible esta opción, activa tu proveedor ahora!</strong>
          </div>
          <div>
            <button type="button" class="btn btn-info btn-rounded mx-auto"
              (click)="navegar({url:'./../dashboard/settings'})">
              <i class="fa fa-hand-o-left"></i>
            </button>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="5" (click)="navegar({url:'./dashboard/settings/correos'})" [class.d-none]="(rol>rolAdmin)">
        <a ngbNavLink>Correos</a>
        <ng-template ngbNavContent>
          <app-correos></app-correos>
        </ng-template>
      </li>
      <li [ngbNavItem]="6" (click)="navegar({url:'./dashboard/settings/password'})">
        <a ngbNavLink>Contraseña</a>
        <ng-template ngbNavContent>
          <app-change-pass [muestraTexto]="true" [esModal]="false"></app-change-pass>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</form>
