<div class="container-fluid container">
  <div class="row mx-0">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1 mx-0">
      <ul ngbNav #nav="ngbNav" [activeId]="active" class="nav-pills flex-column" orientation="vertical">
        <div class="modal-header mb-3">
          <h4 class="modal-title">Dashboard</h4>
          <h5 class="pl-4"> <i class="fa fa-user"></i> {{ perfil.names }} </h5>

        </div>
        <li [ngbNavItem]="1" (click)="navegar({url:'./dashboard/information'})">
          <a ngbNavLink>Mi Informacion</a>
          <ng-template ngbNavContent>
            <app-my-information [perfil]="perfil" (obtenerPerfil)="obtenerPerfilConf($event)"> </app-my-information>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" (click)="navegar({url:'./dashboard/produced-events'})" [class.d-none]="(rol>rolProducer)">
          <a ngbNavLink>Mis Eventos Producidos</a>
          <ng-template ngbNavContent>
            <app-my-produced-events [perfil]="perfil">
            </app-my-produced-events>
          </ng-template>
        </li>
        <li [ngbNavItem]="3" (click)="navegar({url:'./dashboard/entries'})">
          <a ngbNavLink>Mis Entradas</a>
          <ng-template ngbNavContent>
            <app-my-entries [perfil]="perfil" (obtenerPerfil)="obtenerPerfilConf($event)"> </app-my-entries>
          </ng-template>
        </li>
        <li [ngbNavItem]="4" (click)="navegar({url:'./dashboard/credit-cards'})" [class.d-none]="(rol>rolProducer)">
          <a ngbNavLink>Mis Metodos de Pago</a>
          <ng-template ngbNavContent>
            <app-my-cards [perfil]="perfil" (obtenerPerfil)="obtenerPerfilConf($event)"> </app-my-cards>
          </ng-template>
        </li>
        <li [ngbNavItem]="5" (click)="navegar({url:'./dashboard/bills'})">
          <a ngbNavLink>Mis Registros</a>
          <ng-template ngbNavContent>
            <app-my-records [perfil]="perfil" (obtenerPerfil)="obtenerPerfilConf($event)"> </app-my-records>
          </ng-template>
        </li>
        <li [ngbNavItem]="6" (click)="navegar({url:'./dashboard/settings'})">
          <a ngbNavLink>Configuraciones</a>
          <ng-template ngbNavContent>
            <app-settings [perfil]="perfil" (obtenerPerfil)="obtenerPerfilConf($event)"> </app-settings>
          </ng-template>
        </li>
        <li [ngbNavItem]="7" (click)="navegar({url:'./dashboard/autorizar-promotores'})"
          [class.d-none]="(rol>rolAdmin)">
          <a ngbNavLink>Autorizar Promotores</a>
          <ng-template ngbNavContent>
            <app-authorize-promoters [perfil]="perfil" (obtenerPerfil)="obtenerPerfilConf($event)">
            </app-authorize-promoters>
          </ng-template>
        </li>
      </ul>
    </div>
    <div class="scrollable-content col-xs-9 col-sm-9 col-md-9 col-lg-9 mx-0">
      <div [ngbNavOutlet]="nav" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
    </div>
  </div>
</div>
