<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mx-auto text-left ">
  <form class="form-signin" autocomplete="off" #ProveedorForm="ngForm" id="ProveedorForm"
    (ngSubmit)="cargar(ProveedorForm)" (change)="cargar(ProveedorForm)">
    <label for="nacimiento"><small>Fecha de Fundación (opcional)</small></label>
    <div class="input-group mb-1 nacimiento">
      <input class="form-control" name="nacimiento" placeholder="yyyy-mm-dd" [(ngModel)]="model" #nacimiento="ngModel"
        ngModel (dateSelect)="model = $event;cargar(ProveedorForm);" [minDate]="{year: 1970, month:1, day: 1}"
        [maxDate]="{year: year, month:12, day: 31}" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle();" type="button"></button>
      </div>
    </div>
    <input type="hidden" class="form-control" *ngIf="data.id" [(ngModel)]="data.id" name="id" ngModel #id="ngModel">
    <input type="hidden" class="form-control" *ngIf="data.estado" [(ngModel)]="data.estado" name="estado" ngModel #estado="ngModel">
    <div class="input-group mb-1">
      <input type="text" class="form-control" name="nombre" [(ngModel)]="data.nombre" [disabled]="data.id" required
        ngModel #nombre="ngModel" placeholder="Nombre (legal)" autofocus (keyup)="cargar(ProveedorForm)">
    </div>
    <div class="input-group mb-1">
      <input type="text" class="form-control" name="apellido" [(ngModel)]="data.apellido" [disabled]="data.id" required
        ngModel #apellido="ngModel" placeholder="Apellido (legal,opcional)" (keyup)="cargar(ProveedorForm)">
    </div>
    <div class="input-group mb-1">
      <input type="text" class="form-control" name="nit" [(ngModel)]="data.nit" required ngModel #nit="ngModel"
        placeholder="Nit de Proveedor" (keyup)="cargar(ProveedorForm)">
    </div>
    <div class="input-group mb-1">
      <input type="text" class="form-control" name="telefono" [(ngModel)]="data.telefono" required ngModel
        #telefono="ngModel" placeholder="Telefono De Oficina" (keyup)="cargar(ProveedorForm)">
    </div>
    <div class="input-group mb-1">
      <input type="text" class="form-control" name="dpi" required [(ngModel)]="data.dpi" ngModel #dpi="ngModel"
        placeholder="Documento de Identidad (DPI)" (keyup)="cargar(ProveedorForm)">
    </div>

  </form>
</div>
