<div class="col-md-12 col-lg-12 ml-auto text-dark">
  <!-- payform-->
  <div class="input-group my-3 w-95" *ngIf="pasarela.nombre === '2CO'">
    <input type="text" class="form-control input-outline-primary" id="nombreTC" name="nombreTC" required ngModel
      #nombreTC="ngModel" autocomplete="off" placeholder="Nombre" [(ngModel)]="tcSelect.nombreTC">
  </div>
  <div id="TC-form-div"></div>
  <div id="card-element"></div>
  <div class="input-group mb-3 text-right d-flex" *ngIf="pasarela.nombre === '2CO'">
    <button type="submit" class="btn btn-outline-success badge-pill ml-auto" (click)="pagar(tcSelect)">Pagar</button>
  </div>
  <form class="form" *ngIf="pasarela.nombre == 'paypal'">
    <div class="row">
      <div class="col">
        <div class="field-container card-number">
          <div class="field-wrapper form-group is-error is-empty is-required">
            <label for="card-number" class="label control-label">Card number</label>
            <div class="input-wrapper">
              <input type="text" autocomplete="cc-number" id="card-number" name="card-number" data-hj-masked=""
                placeholder="0000 0000 0000 0000" class="field form-control" im-insert="true">
              <i class="card-icon"></i>
              <i class="lock-icon"></i>
              <i class="" style="display: none;"></i>
            </div>
          </div>
          <span class="validation-message">Enter a valid card number</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="field-container card-expiration-date">
          <div class="field-wrapper form-group is-empty is-required">
            <label for="card-expiration-date" class="label control-label">Expiration date</label>
            <div class="input-wrapper">
              <input type="text" autocomplete="cc-exp" id="card-expiration-date" name="card-expiration-date"
                data-hj-masked="" class="form-control" im-insert="true">
              <i class="" style="display: none;"></i>
            </div>
          </div>
          <span class="validation-message" style="display: none;"></span>
        </div>
      </div>
      <div class="col">
        <div class="field-container card-security-code">
          <div class="field-wrapper form-group is-empty is-required">
            <label for="card-security-code" class="label control-label">Security code</label>
            <div class="input-wrapper">
              <input type="text" autocomplete="cc-csc" id="card-security-code" name="card-security-code"
                data-hj-masked="" placeholder="000" class="field form-control" im-insert="true">
              <i class="lock-icon"></i>
              <i class="" style="display: none;"></i>
            </div>
          </div>
          <span class="validation-message" style="display: none;"></span>
        </div>
      </div>
    </div>
  </form>

  <form class="p-2" *ngIf="pasarela.nombre != '2CO'" autocomplete="off" id="TC-form" #TCForm="ngForm"
    (ngSubmit)="pagar(TCForm.value)">
    <div class="input-group my-3">
      <input type="text" class="form-control input-outline-primary" id="numeroTC" name="numeroTC" required ngModel
        #numeroTC="ngModel" placeholder="Numero de Tarjeta" autocomplete="off" [(ngModel)]="tcSelect.numeroTC">
    </div>
    <div class="input-group mb-3 ">
      <input type="number" class="form-control input-outline-primary mr-1 " id="exp_montTC" name="exp_montTC" required
        ngModel #exp_montTC="ngModel" placeholder="01" [(ngModel)]="tcSelect.exp_montTC">
      <input type="number" class="form-control input-outline-primary ml-1 " id="exp_yearTC" name="exp_yearTC" required
        ngModel #exp_yearTC="ngModel" placeholder="21" [(ngModel)]="tcSelect.exp_yearTC">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control input-outline-primary" id="nombreTC" name="nombreTC" required ngModel
        #nombreTC="ngModel" autocomplete="off" placeholder="Nombre" [(ngModel)]="tcSelect.nombreTC">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control input-outline-primary" id="cvvTC" name="cvvTC" required ngModel
        #cvvTC="ngModel" autocomplete="off" placeholder="CVV" [(ngModel)]="tcSelect.cvvTC">
    </div>
    <div class="input-group mb-3 text-right d-flex">
      <button type="submit" class="btn btn-outline-success badge-pill ml-auto">Pagar</button>
    </div>
  </form>
</div>
