@import './../../../../vars.scss';

.payform {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #ffffff
}

.payform * {
  box-sizing: border
}

.payform .no-gutters {
  margin-right: 0;
  margin-left: 0
}

.payform #card-number {
  width: 90%
}

.payform .row {
  display: flex;
  flex-wrap: wrap
}

.payform .col {
  max-width: 100%;
  padding: 0;
  width: 100%
}

.payform div {
  display: block
}

.payform .field-container {
  padding-bottom: 14px
}

.payform .field-wrapper {
  padding-right: 25px
}

.payform .input-wrapper {
  position: relative
}

.payform label {
  display: inline-block;
  margin-bottom: 9px;
  color: #313131;
  width: 90%;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px
}

.payform input {
  overflow: visible;
  margin: 0;
  font-family: inherit;
  display: flex;
  width: 95%;
  height: 42px;
  padding: 10px 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #313131;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #CBCBCB;
  border-radius: 3px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  outline: 0
}

.payform input:focus {
  border: 1px solid #5D5D5D;
  background-color: #FFFDF2
}

.payform .is-error input {
  border: 1px solid $color-light
}

.payform .is-error input:focus {
  background-color: $color-light
}

.payform .is-valid input {
  border: 1px solid #1BB43F
}

.payform .is-valid input:focus {
  background-color: #1BB43F0B
}

.payform .validation-message {
  color: $color-light;
  font-size: 10px;
  font-style: italic;
  margin-top: 6px;
  margin-bottom: -5px;
  display: flex;
  line-height: 1
}

.payform .card-expiration-date {
  padding-right: .5rem
}

.payform .is-empty input {
  color: #EBEBEB
}

.payform .lock-icon {
  top: calc(50% - 7px);
  right: 50px
}

.payform .valid-icon {
  top: calc(50% - 8px);
  right: 0px
}

.payform .error-icon {
  top: calc(50% - 8px);
  right: 0px
}

.payform .card-icon {
  top: calc(50% - 10px);
  left: 10px;
  display: none
}

.payform .is-empty .card-icon {
  display: block
}

.payform .is-focused .card-icon {
  display: none
}

.payform .card-type-icon {
  right: 50px;
  display: block
}

.payform .card-type-icon.visa {
  top: calc(50% - 14px)
}

.payform .card-type-icon.mastercard {
  top: calc(50% - 14.5px)
}

.payform .card-type-icon.amex {
  top: calc(50% - 14px)
}

.payform .card-type-icon.discover {
  top: calc(50% - 14px)
}

.payform .card-type-icon.jcb {
  top: calc(50% - 14px)
}

.payform .card-type-icon.dankort {
  top: calc(50% - 14px)
}

.payform .card-type-icon.cartebleue {
  top: calc(50% - 14px)
}

.payform .card-type-icon.diners {
  top: calc(50% - 14px)
}

.payform .card-type-icon.elo {
  top: calc(50% - 14px)
}

.card-icon {
  background-image: url(https://2pay-js.2checkout.com/v1/images/src/assets/sprites/2pay-1-sprite.png);
  background-position: -30px -44px;
  background-size: 125px 140px;
  position: absolute;
  width: 25px;
  height: 20px;
}

.card-type-icon {
  background-image: url(https://2pay-js.2checkout.com/v1/images/src/assets/sprites/payment-icons-sprite.png);
  background-size: 200px 629px;
  background-repeat: no-repeat;
  position: absolute;
}

.card-type-icon.visa {
  top: calc(50% - 14px);
  background-position: -53px -32px;
  width: 43px;
  height: 28px;
}

.card-type-icon.mastercard {
  background-position: -53px -124px;
  width: 43px;
  height: 29px
}

.card-type-icon.amex {
  background-position: 0 -124px;
  width: 45px;
  height: 28px
}

.card-type-icon.discover {
  background-position: -1px -63px;
  width: 43px;
  height: 28px
}

.card-type-icon.jcb {
  background-position: -53px -1px;
  width: 43px;
  height: 28px
}

.card-type-icon.dankort {
  background-position: -104px -94px;
  width: 43px;
  height: 28px
}

.card-type-icon.cartebleue {
  background-position: -1px -278px;
  width: 43px;
  height: 28px
}

.card-type-icon.diners {
  background-position: -1px -186px;
  width: 43px;
  height: 28px
}

.card-type-icon.elo {
  background-position: -156px -94px;
  width: 43px;
  height: 28px
}

.is-empty input {
  padding-left: 42px;
}

input::-ms-clear {
  display: none;
}

input::placeholder {
  color: #EBEBEB;
}

.is-focused input {
  padding-left: 12px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .card-icon {
    background-image: url(https://2pay-js.2checkout.com/v1/images/src/assets/sprites/2pay-1-sprite@2x.png);
  }
  .card-type-icon {
    background-image: url(https://2pay-js.2checkout.com/v1/images/src/assets/sprites/payment-icons-sprite@2x.png);
  }
}

.lock-icon, .valid-icon, .error-icon {
  background-image: url(https://2pay-js.2checkout.com/v1/images/src/assets/sprites/2pay-1-sprite.png);
  background-size: 125px 140px;
}

.lock-icon {
  background-repeat: no-repeat;
  background-position: -57px -8px;
  position: absolute;
  width: 11px;
  height: 15px;
}

.valid-icon {
  background-repeat: no-repeat;
  background-position: -62px -84px;
  position: absolute;
  width: 17px;
  height: 17px;
}

.error-icon {
  background-repeat: no-repeat;
  background-position: -30px -84px;
  position: absolute;
  width: 17px;
  height: 17px;
}

.is-focused .lock-icon {
  background-position: -81px -8px;
}

.is-valid .lock-icon {
  background-position: -81px -8px
}

.is-error .lock-icon {
  background-position: -81px -8px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only sreen and (min-device-pixel-ratio: 2) {
  .lock-icon, .valid-icon, .error-icon {
    background-image: url(https://2pay-js.2checkout.com/v1/images/src/assets/sprites/2pay-1-sprite@2x.png);
  }
}
