<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 mx-auto text-left">
  <div class="contenedor-h">
    <!-- Tarjeta -->
    <app-tarjeta class="contenedor w-100" [data]="metodoPagoForm.value" [isCollapsed]="isCollapsed" [frente]="frente">
    </app-tarjeta>


    <!-- Contenedor Boton Abrir Formulario -->
    <div class="contenedor-btn">
      <button class="btn-abrir-formulario" *ngIf="isCollapsed" id="btn-abrir-formulario" (click)="addNew()">
        <i class="fa fa-plus"></i>
      </button>
      <button class="btn-abrir-formulario bg-danger" *ngIf="!isCollapsed" id="btn-abrir-formulario"
        (click)="isCollapsed=true">
        <i class="fa fa-times"></i>
      </button>
    </div>

    <!-- Formulario Reactivo -->
    <form [formGroup]="metodoPagoForm" class="form-signin w-100 mp-0" autocomplete="off" id="MetodoPagoForm"
      (ngSubmit)="agregar()" [ngbCollapse]="isCollapsed">

      <div class="row w-100 mp-0">
        <!-- Número de tarjeta -->
        <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-1">
          <input type="text" class="form-control" formControlName="numeroTC" placeholder="xxxx xxxx xxxx xxxx"
            maxlength="19" (input)="formatCardNumber()" />
          <div *ngIf="metodoPagoForm.get('numeroTC')?.invalid && metodoPagoForm.get('numeroTC')?.touched"
            class="invalid-feedback">
            Número de tarjeta inválido.
          </div>
        </div>

        <!-- Mes de expiración -->
        <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-1">
          <select class="form-control" formControlName="exp_montTC" (change)="girarTarjeta(false)">
            <option *ngFor="let month of expDate.months" [value]="month">{{month}}</option>
          </select>
        </div>

        <!-- Año de expiración -->
        <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-1">
          <select class="form-control" formControlName="exp_yearTC" (change)="girarTarjeta(false)">
            <option *ngFor="let year of expDate.years" [value]="year">{{year}}</option>
          </select>
        </div>

        <!-- Nombre en la tarjeta -->
        <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-9 mx-auto mb-1">
          <input type="text" class="form-control" formControlName="nombreTC" placeholder="Jhon Doe"
            (keyup)="girarTarjeta(false)">
          <div *ngIf="metodoPagoForm.get('nombreTC')?.invalid && metodoPagoForm.get('nombreTC')?.touched"
            class="invalid-feedback">
            Nombre inválido.
          </div>
        </div>

        <!-- CVV -->
        <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-3 mx-auto mb-1">
          <input type="text" class="form-control" formControlName="cvvTC" placeholder="123" (keyup)="girarTarjeta(true)"
            maxlength="3">
          <div *ngIf="metodoPagoForm.get('cvvTC')?.invalid && metodoPagoForm.get('cvvTC')?.touched"
            class="invalid-feedback">
            CVV inválido.
          </div>
        </div>
      </div>

      <div class="row w-100 mp-0">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 ml-auto">
          <button class="btn btn-lg btn-outline-success btn-block ml-auto badge-pill" type="submit"
            [disabled]="metodoPagoForm.invalid">
            <i class="fa fa-save"></i> Guardar
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="list-group w-100" [class.contenedorAlertasActivo]="!isCollapsed"
    [class.contenedorAlertasDeac]="isCollapsed">
    <a class="list-group-item list-group-item-action flex-column align-items-start mt-1"
      [class.active]="alert.default == 1" [class.text-light]="alert.default == 1"
      *ngFor="let alert of lista; let i = index" (click)="seleccionar(alert, $event)">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ alert.nombre }}</h5>
        <small>
          <button type="button" class="btn btn-warning badge-pill text-center ml-2" title="Marcar como Principal"
            (click)="marcarDefault(alert, $event)">
            <i class="fa fa-hand-pointer-o pointer"></i>
          </button>
          <button type="button" class="btn btn-danger badge-pill text-center ml-2" (click)="eliminarMetodo(alert, i)"
            title="Eliminar">
            <i class="fa fa-times pointer"></i>
          </button>
        </small>
      </div>
      <p class="mb-1">{{ alert.numeroTC | numTC }}</p>
      <small>{{ desencripta(alert.exp_dateTC) }}</small>
    </a>
  </div>
</div>
