<div class="row w-100 mp-0">
  <div class="alert alert-warning" *ngIf="!validarSesion">
    <strong>Debes Iniciar sesion para acceder a los metodos de pago</strong>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mx-auto d-flex mt-3"
    *ngIf="validarSesion && pasarelas && pasarelas.length > 0">
    <ul ngbNav #navMetodoPago="ngbNav" class="nav-pills" [activeId]="pasarelas[0].id" orientation="vertical">
      <li [ngbNavItem]="data.id" *ngFor="let data of pasarelas">
        <a ngbNavLink><img loading="lazy" [src]="data.logo" class="pestana-pago"></a>
        <ng-template ngbNavContent class="row w-100 mp-0 mp-0">
          <app-formulario-metodo-pago *ngIf="tcSelect" [tcSelect]="tcSelect" [pasarela]="data"
            (tcData)="seleccionarFormaPago(data.nombre,$event,data)"></app-formulario-metodo-pago>
        </ng-template>
      </li>

    </ul>
    <div [ngbNavOutlet]="navMetodoPago" class="row w-100 mp-0"></div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4" *ngIf="validarSesion">
    <div class="input-group mb-3 text-left d-flex">
      <button type="button" (click)="regresaDireccion()" class="btn btn-outline-primary badge-pill mr-auto">Cambiar
        Direccion</button>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4" *ngIf="validarSesion">
    <div class="input-group mb-3 text-left d-flex">
      <button type="button" (click)="regresaMetodoPago()" class="btn btn-outline-primary badge-pill mr-auto">Cambiar
        Tarjeta</button>
    </div>
  </div>


</div>
