<div class="bs-stepper">
  <ul ngbNav #event_stepper="ngbNav" [(activeId)]="step" class="bs-stepper-header">
    <li [ngbNavItem]="1" class="step">
      <a ngbNavLink>
        <button class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">Evento</span>
        </button>
      </a>
      <ng-template ngbNavContent class="w-100 d-flex">
        <app-events [event]="selectedEvent" (save)="handleSave($event)" (close)="handleClose()"></app-events>
      </ng-template>
    </li>
    <div class="line"></div>
    <li [ngbNavItem]="2" class="step">
      <a ngbNavLink>
        <button class="step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">Localidades</span>
        </button>
      </a>
      <ng-template ngbNavContent class="w-100 d-flex">
        <div class="card mt-4">
          <div class="card-header">
            <h5>Administrador de localidades</h5>
          </div>
          <div class="card-body">
          </div>
        </div>
      </ng-template>
    </li>
    <div class="line"></div>
    <li [ngbNavItem]="3" class="step">
      <a ngbNavLink>
        <button class="step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">Distribucion de Boletos</span>
        </button>
      </a>
      <ng-template ngbNavContent class="w-100 d-flex">
        <div class="card mt-4">
          <div class="card-header">
            <h5>Editor de localidades | Editor SVG</h5>
          </div>
          <div class="card-body">
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
</div>
<div [ngbNavOutlet]="event_stepper" class="w-100 container bs-stepper-content d-flex"></div>
